fastapi
uvicorn
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
python-dotenv
pdfplumber==0.10.3
PyPDF2==3.0.1
python-docx==1.1.0
groq
sentence-transformers
faiss-cpu
numpy
pytest